.form-row {
    margin-bottom: 10px;
}

form { 
    background-color: #343a40; 
}

#parent {
  width: 60%;
  overflow-x: auto;
}

#calc-btn {
  padding: 5px;
}

.childr1 {
  padding: 5px;
  display: inline-block;
  width: 30%;
  height: 100%;
}

.childr2 {
  padding: 5px;
  display: inline-block;
  width: 20%;
  height: 100%;
}